@font-face {
  font-family: 'MyWebFont';
  src: url('../font/alegreya_sans/alegreyasans-black.eot'); /* IE9 Compat Modes */
  src: url('../font/alegreya_sans/alegreyasans-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/alegreya_sans/alegreyasans-black.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/alegreya_sans/alegreyasans-black.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/alegreya_sans/alegreyasans-black.ttf')  format('truetype'); /* Safari, Android, iOS */
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;
}

body {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/background.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/background.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/background.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/background.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.container_terms {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.container_downloads {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
    padding-bottom: 11%;
}

.section {
    background-color: #fff; /*#344960*/
}
    .section h2 {
        color: #000;
        font-size: 2.5em;
        text-align: center;
        padding-top: 2.5%;
    }
    .section:nth-child(even) {
        background-color: #344960;
    }
    .section p {
        text-align: center;
        font-size: 1.6em;
        margin-top: 15px;
    }

.header {
    width: 100%;
    height: 70vh;
}
    .header h2 {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 6em;
        font-weight: 600;
        margin-top: 20%;
    }
    .header p {
        text-align: center;
        color: #fff;
        font-size: 1.3em;
        text-transform: uppercase;
    }

.nav {
    position: relative;
	z-index: 999;
	position: sticky;
	top: 0;
	line-height: 50px;
	background: #24323c; /*#4b78a0 #1d1f21 #1d1f21 2c3e50*/
}
	.nav ul {
		list-style: none;
	}
	.nav li {
        display: inline-block;
		width: 12%;
	}
    .nav li:first-child {
        font-size: 1.1em;
    }
    .nav li:nth-child(2) {
        float: right;
        width: 5%;
    }
    .nav li:nth-child(3) {
        float: right;
    }
    .nav li:nth-child(4) {
        float: right;
    }
    .nav li:last-child {
        float: right;
    }
    .nav .list_icons {
        width: 5%;
    }
		.nav a {
			display: block;
			text-align: center;
			color: #fff;
			text-decoration: none;
            text-transform: uppercase;
            font-size: 0.95em;
            font-weight: 700;
            transition: background .5s;
		}
			

.hovering:hover {
    transition: background .5s;
    background: #00ba79;
}

.icons {
    font-family: "icon_font";
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-decoration: inherit;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer {
	color: #fff;
	text-align: center;
	background: #24323c;
}
	.footer p {
		font-size: 16px;
		padding: 5px;
	}

.downloads {
    background-color: #344960; /*#344960*/
    height: 92vh;
}
    .downloads h2 {
        color: #fff;
        font-size: 3em;
        padding-bottom: 5%;
    }
    .downloads p {
        font-size: 1.6em;
        color: #fff;
        display: inline-block;
        padding-left: 10px;
    }
    .downloads a {
        font-size: 1.6em;
        color: #fff;
        display: inline-block;
        padding-left: 10px;
        color: #00ba79;
    }

.wrapper_downloads {
    background-color: #24323c;
    border-radius: 8px;
    padding: 4% 6%;
}

.icons_downloads {
    font-family: "icon_font";
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-decoration: inherit;
    font-variant: normal;
    text-transform: none;
    font-size: 3em;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}















.terms_wrapper {
    margin-left: auto;
    margin-right: auto;
    background-color: #344960;
    padding-top: 3%;
    padding-bottom: 3%;
}
.terms_wrapper h2 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    padding-top: 2%;
    padding-bottom: 1%;
}
.terms_wrapper h3 {
    font-size: 2em;
    text-align: center;
}
.terms_wrapper p {
    font-size: 1.4em;
    text-align: center;
    color: #fff;
}
.terms_wrapper p:last-child {
    font-size: 1.4em;
    text-align: center;
    color: #fff;
    padding-bottom: 3%;
}

.terms {
    background-color: #24323c;
    border-radius: 8px;
}