@{ 
    Layout = null;
}

<!doctype html>

<html>
<head>
    <title>PROJECTO</title>
    <meta charset="UTF-8">
    <!--		<meta name="viewport" content="initial-scale=1.0">-->
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="favicon.png" href="favicon.png">
    <link rel="stylesheet" href="css/icon_font.css">
</head>

<body>
    <nav class="nav">
        <div class="container">
            <ul>
                <li><a href="index.html">PROJECTO</a></li>
                <li><a href="login_register.html" class="hovering"><i class="icons">&#xf2bd;</i></a></li>
                <li><a href="#" class="hovering">Downloads</a></li>
                <li><a href="https://www.github.com/YOSH1M1TZU/Projecto" class="hovering" target="_blank">Source</a></li>
                <li><a href="#" class="hovering">About</a></li>
            </ul>
        </div>
    </nav>

    <section id="about" class="downloads">
        <div class="container_downloads">
            <div class="wrapper_downloads">
                <h2>Downloads</h2>
                <div style="margin-bottom: 4%;">
                    <div style="vertical-align: middle; display: inline-block;"><i class="icons_downloads">&#xf325;</i></div><div style="vertical-align: middle; display: inline-block;"><p>Windows:</p></div><div style="vertical-align: middle; display: inline-block;"><a href="#">Direct Link (x32)</a><a href="#">Direct Link (x64)</a></div>
                </div>
                <div style="margin-bottom: 4%;">
                    <div style="vertical-align: middle; display: inline-block;"><i class="icons_downloads">&#xe80d;</i></div><div style="vertical-align: middle; display: inline-block;"><p>Android:</p></div><div style="vertical-align: middle; display: inline-block;"><a href="#">Available In Future</a></div>
                </div>
                <div>
                    <div style="vertical-align: middle; display: inline-block;"><i class="icons_downloads">&#xf179;</i></div><div style="vertical-align: middle; display: inline-block;"><p>Apple iOS:</p></div><div style="vertical-align: middle; display: inline-block;"><a href="#">Available In Future</a></div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="footer">
            <p>Copyright &copy; 2017 Piotr Haptaś</p>
        </div>
    </footer>
</body>
</html>