@{ 
    Layout = null;
}

<!doctype html>

<html>
<head>
    <title>PROJECTO</title>
    <meta charset="UTF-8">
    <!--		<meta name="viewport" content="initial-scale=1.0">-->
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="favicon.png" href="favicon.png">
    <link rel="stylesheet" href="css/icon_font.css">
</head>

<body>
    <nav class="nav">
        <div class="container">
            <ul>
                <li><a href="#">PROJECTO</a></li>
                <li><a href="login_register.cshtml" class="hovering"><i class="icons">&#xf2bd;</i></a></li>
                <li><a href="downloads.cshtml" class="hovering">Downloads</a></li>
                <li><a href="https://www.github.com/YOSH1M1TZU/Projecto" class="hovering" target="_blank">Source</a></li>
                <li><a href="#" class="hovering">About</a></li>
            </ul>
        </div>
    </nav>

    <header class="header">
        <div class="container">
            <h2>PROJECTO</h2>
            <p>Modern Project Manager</p>
        </div>
    </header>

    <section id="about" class="section">
        <div class="container">
            <h2>PROJECTO</h2>
            <p>Is an Open Source program designed to help you with Your project.</p>
            <p>Manage your finances, tasks, files and even communicate with your team directly!</p>
            <h2><i class="icons">&#xe819; &nbsp; &nbsp; &nbsp; &#xe804; &nbsp; &nbsp; &nbsp; &#xe818;</i></h2>
            <p>&nbsp;</p>
        </div>
    </section>

    <section id="about" class="section">
        <div class="container">
            <h2>Contact</h2>
            <p>&nbsp;</p>
        </div>
    </section>

    <footer id="footer">
        <div class="footer">
            <p>Copyright &copy; 2017 Piotr Haptaś</p>
        </div>
    </footer>
</body>
</html>