@{
    Layout = null;
}

@{
    if (IsPost)
    {
        string login = Request.Form["flogin_email"];
        string password = Request.Form["flogin_password"];

        var sc = new PROJECTO.WEB.BackEnd.ServerClass();
        string result = sc.Login(login, password);
        if (result != null)
        {
            Session["logged_user"] = login;
            Response.BufferOutput = true;
            Response.Redirect("profile.cshtml");
            //Server.Transfer("~/FrontEnd/profile.cshtml", true);
            /*<text>
                Your ID: @result<br />
                Company Name: @login <br />
                Contact Name: @password <br />
            </text>*/
        }
    }
}

<!doctype html>

<html>
<head>
    <title>Log In/Register</title>
    <meta charset="UTF-8">
    <!--		<meta name="viewport" content="initial-scale=1.0">-->
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="favicon.png" href="favicon.png">
    <link rel="stylesheet" href="css/icon_font.css">
</head>

<body>
    <nav class="nav">
        <div class="container">
            <ul>
                <li><a href="index.html" class="">PROJECTO</a></li>
                <li><a href="#" class="hovering"><i class="icons">&#xf2bd;</i></a></li>
                <li><a href="downloads.html" class="hovering">Downloads</a></li>
                <li><a href="https://www.github.com/YOSH1M1TZU/Projecto" class="hovering" target="_blank">Source</a></li>
                <li><a href="#" class="hovering">About</a></li>
            </ul>
        </div>
    </nav>

    <section id="login_register" class="login_register">
        <div class="login_register_wrapper">
            <div class="form_login">
                <form method="post">
                    <h2>Log In</h2>
                    <div class="spacer"></div>
                    <input type="text" name="flogin_email" placeholder="Email">
                    <input type="password" name="flogin_password" placeholder="Password">
                    <a href="forgot_something.html">Forgot something?</a>
                    <input type="submit" name="flogin" value="Log In">
                </form>
            </div>

            <div class="form_register">
                <form method="post">
                    <h2>Register</h2>
                    <div class="spacer"></div>
                    <input type="text" name="fregister_name" placeholder="Name*">
                    <input type="text" name="fregister_surname" placeholder="Surname*">
                    <input type="email" name="fregister_email" placeholder="Email Address*">
                    <input type="password" name="fregister_password" placeholder="Enter Password*">
                    <input type="password" name="fregister_password_confirm" placeholder="Confirm Password*">
                    <div style="width: 25px; margin: 10px 0; position: relative;">
                        <input type="checkbox" id="register_accept" name="fregister_accept" style="display: none;">
                        <label for="register_accept"></label>
                    </div>
                    <p style="font-size: 1.3em; display: inline-block; margin-left: 35px;">I agree to the Terms of Use.</p>
                    <p style="float: right;">* Required</p>
                    <input type="submit" name="fregister" value="Get Started!">
                </form>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="footer">
            <p>Copyright &copy; 2017 Piotr Haptaś</p>
        </div>
    </footer>
</body>
</html>