@{
    Layout = null;
    string logged_user = (string)(Session["logged_user"]);
}

<!doctype html>

<html>
<head>
    <title>@logged_user</title>
    <meta charset="UTF-8">
    <!--		<meta name="viewport" content="initial-scale=1.0">-->
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/profile.css" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="favicon.png" href="favicon.png">
    <link rel="stylesheet" href="css/icon_font.css">
</head>

<body>
    <nav class="nav">
        <ul>
            <li><a href="index.html"> </a></li>
            <li><a href="#" class="hovering">My Account</a></li>
            <li><a href="downloads.html" class="hovering">Downloads</a></li>
            <li><a href="https://www.github.com/YOSH1M1TZU/Projecto" class="hovering" target="_blank">Source</a></li>
            <li><a href="#" class="hovering">About</a></li>
        </ul>
    </nav>

    <section class="side_menu">
        <ul>
            <div class="spacer"></div>

            <div class="user_data">
                <img src="images/icons/teams.png"></img>
                <p>Admin Admin</p>
            </div>

            <div class="spacer"></div>

            <div class="menu_option">
                <img src="images/icons/dashboard.png"></img>
                <li><a href="#">Dashboard</a></li>
            </div>

            <div class="menu_option">
                <img src="images/icons/dashboard.png"></img>
                <li><a href="#">Projects</a></li>
            </div>

            <div class="menu_option">
                <img src="images/icons/todo.png"></img>
                <li><a href="#">To Do</a></li>
            </div>

            <div class="menu_option">
                <img src="images/icons/in_progress.png"></img>
                <li><a href="#">In Progress</a></li>
            </div>

            <div class="menu_option">
                <img src="images/icons/finished.png"></img>
                <li><a href="#">Finished</a></li>
            </div>

            <div class="menu_option">
                <img src="images/icons/bug.png"></img>
                <li><a href="#">Bugs</a></li>
            </div>

            <div class="menu_option">
                <img src="images/icons/storage.png"></img>
                <li><a href="#">Storage</a></li>
            </div>

            <div class="menu_option">
                <img src="images/icons/chat.png"></img>
                <li><a href="#">Chat</a></li>
            </div>

            <div class="menu_option">
                <img src="images/icons/finances.png"></img>
                <li><a href="#">Finances</a></li>
            </div>

            <div class="menu_option">
                <img src="images/icons/charts.png"></img>
                <li><a href="#">Charts</a></li>
            </div>

            <div class="menu_option">
                <img src="images/icons/teams.png"></img>
                <li><a href="#">Teams</a></li>
            </div>

            <div class="menu_option">
                <img src="images/icons/achievs.png"></img>
                <li><a href="#">Achievs</a></li>
            </div>

            <div class="menu_option">
                <img src="images/icons/settings.png"></img>
                <li><a href="#">Settings</a></li>
            </div>
        </ul>
    </section>

    <section id="todo">
        <div class="main_bar_wrapper">
            <h2>TODO</h2>
            <a href=""><img src="images/icons/add_task.png"></img></a>
        </div>

        @{
            var web_service = new PROJECTO.WEB.BackEnd.DBClass();
            var result = web_service.LoadTodos("1");

            int spacerX = 15;
            int spacerY = 5;
            for (int i=0; i<result.Count;i+=2)
            {
                <div class="todo_wrapper" style="background-color: #2f4050; left: @spacerX%; position: absolute; width: 26%; height: 25%; margin-top: @spacerY%; border-radius: 5px;">
                    <h2>@result[i]</h2>
                    <p>@result[i + 1]</p>
                    <a href=""><img src="images/icons/progress_task.png"></img></a>
                    <a href=""><img src="images/icons/edit_task.png"></img></a>
                    <a href=""><img src="images/icons/delete_task.png"></img></a>
                </div>
                spacerY += 15;
                if(i==4)
                {
                    spacerX += 28;
                    spacerY = 5;
                }
                if(i==10)
                {
                    spacerX += 28;
                    spacerY = 5;
                }
            }
        }
    </section>
    <!--
            <footer id="footer">
                <div class="footer">
                    <p>Copyright &copy; 2017 Piotr Haptaś</p>
                </div>
            </footer>
    -->
</body>
</html>